*{
    padding: 0;
    margin: 0;
}
img{
    width: 100vw;
    height: 100vw;
    position: fixed;
    z-index:-1 ;
    opacity: 0.2;
}
body{
    background-color: black;

}
.container{
    display: flex;
    color: white;
    justify-content: space-between;
    height: 100px;
    align-items: center;

}
ul{
    display: flex;
    width: 50vw;
    justify-content: space-between;
}
li{
    list-style: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    transition:transform 0.5s,color 0.5s;
}
li:hover{
    color: orange;
    transform: scale(1.2);
    cursor: pointer;
}
h2{
    cursor: pointer;
    margin-left:30px;
    font-size:40px ;
    font-family: Arial, Helvetica, sans-serif;

}
span{
    color: orange;
}
.search{
    margin-right: 30px;
    display: flex;
  
    border:1.5px solid orange;

}

.search>input{
    padding: 5px 10px;
    outline: none;
   border: none;
   background: none;
}
.search>button{
    border:none ;
    background-color: orange;
    color: white;
    padding: 0 10px;
    font-size: 18px;
}
.content{
    margin-top: 150px;
    text-align: center;
  

}
h1{
    color: white;
    font-size: 50px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
 color: white;
}
.buttons{
    margin-top:15px ;
   

}
.btn1{
    padding:10px 15px ;
    border: none;
    border-radius:5px ;
    background-color:orange ;
    margin-right:5px ;
    color:white ;
}
.btn2{
    padding:10px 15px ;
    border: none;
    border-radius:5px ;
   background-color: blue;
   color:white ;
}
@media only screen and(max-width:860px) {
    .search{
        display: none;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 12px;
    }
    
}
@media  only screen and(max-width:630px) {
    ul{
        width: 70vw;
    }
    
}
